body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.container {
  background: #f7f7f9;
}

.header-background {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  background: #fff;
}

.logo-placeholder a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
  padding: 24px;
  margin: 12px 8px;
}

.headline {
  background-image: url('./images/header-shapesmobile.svg');
  background-size: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  top: 92px;
  padding: 114px 24px 114px 24px;
  display: flex;
  flex-direction: column;
}

.name h1 {
  display: flex;
  top: 114px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  align-items: center;
  margin: 12px 8px;
}

.description p {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 12px 8px;
}

.socialmedia {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin: 0 8px;
}

.social-media-icons {
  height: 30px;
  display: flex;
}

.social-media-icons a {
  text-decoration: none;
  margin: 8px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2650px;
  padding: 114px 24px;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  width: 327px;
  height: 612px;
  left: calc(50% - 327px / 2);
  top: 100px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 40px 0;
}

.snapshoot-portfolio {
  height: 220px;
  margin: 12px 0;
}

.portfolio-snapshoot {
  border-radius: 8px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 295px;
  height: 288px;
  left: 16px;
  top: 248px;
  margin: 12px 0;
}

.project-title {
  font-weight: 700;
  font-size: 24px;
  color: #344563;
}

.summary-frame {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.client {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
}

.project-button {
  position: relative;
  display: inline-block;
  padding: 12px;
  width: 130px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  line-height: 24px;
  color: #396df2;
  margin: 10px;
  cursor: pointer;
  right: 10px;
}

.project-button :hover {
  background: #6070ff;
  color: #fff;
}

.about-myself {
  background: #fff;
  margin: 12px 8px;
  padding: 24px;
}

.skill-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  width: 162px;
  height: 48px;
  top: calc(50% - 48px / 2 + 180.5px);
  margin: 24px 0;
}

.get-resume-button {
  display: inline-block;
  width: 130px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  line-height: 24px;
  color: #396df2;
  cursor: pointer;
}

.get-resume-button:hover {
  background: #6070ff;
  color: #fff;
}

.skill-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 12px 8px;
  color: #344563;
  right: 70px;
}

.skills-list_frame {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.language-container {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-style: 500;
  font-size: 20px;
  line-height: 20px;
}

.language-container img {
  padding: 8px;
  right: 26px;
  border-radius: 8px;
}

.languages {
  display: inline-block;
  position: relative;
}

.language_items li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  margin: 12px 0;
}

.tags ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  right: 40px;
}

.language_items a {
  text-decoration: none;
  pointer-events: none;
  margin: 0;
  z-index: 1;
  display: block;
  margin-left: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.framework-container {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-style: 500;
  font-size: 20px;
  line-height: 20px;
}

.framework-container img {
  padding: 12px;
  right: 26px;
  border-radius: 8px;
}

.skills-container {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  color: #000;
  font-style: 500;
  font-size: 20px;
  line-height: 20px;
}

.skills-container img {
  padding: 12px;
  right: 26px;
  border-radius: 8px;
}
