body { 
  font-family:'Poppins', sans-serif;
}
.container {
  background: #F7F7F9;
}

.header-background {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  background: #FFFFFF;
}

.logo-placeholder a {
  text-decoration: none;
  color: #6070ff;
  font-weight: 700;
  padding: 24px;
  margin: 12px 8px;
}

.headline {
  background-image: url('./images/header-shapesmobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 604px;
  top: 92px;
  padding: 114px 24px 114px 24px;
  display: flex;
  flex-direction: column;
  
}

.name h1 {
  display: flex;
  top: 114px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  align-items: center;
  margin: 12px 8px;
}

.description p {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 12px 8px;
}

.socialmedia {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin: 0 8px;
}

.social-media-icons {
  height: 20px;
  display: flex;
}

.social-media-icons a {
  text-decoration: none;
  margin: 8px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  height:2788px;
  
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  width: 327px;
  height: 612px;
  left: calc(50% - 327px/2);
  top: 114px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 88px 0px;
}

.snapshoot-portfolio {
  height: 220px;
  margin: 12px 0px;
}

.portfolio-snapshoot {
  border-radius: 8px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 295px;
  height: 288px;
  left: 16px;
  top: 248px;
  margin: 12px 0px;
}

.project-title {

}

.summary-frame {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.client {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.role {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.year {
  margin-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.project-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563; 
}

.tags {
  display: flex;
  flex-direction: row;
}

.tags ul li {
  list-style: none;
  display: inline;
  background: #EBEBFF;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070FF;
}

.project-button {
  display: inline-block;
  padding: 12px;
  width: 124px;
  height: 48px;
  left: 0px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  background:#FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
 
  text-align: center;
  color: #396DF2;
  margin: 0px 10px;
  cursor: pointer;
}

.project-button:hover{
  background:#6070FF;
  color: #FFFFFF;
}

.about-myself {
  background: #FFFFFF;
  
  
}

.skill-top {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 114px 24px;
margin: 24px 30px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 24px 0px; 
}