.container {
    background: #ffffff;
}
.header-background {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
}

.logo-placeholder a {
  text-decoration: none;
  color: #6070ff;
}

.headline {
  background-image: url('./images/header-shapesmobile.svg');
  height: 604px;
  top: 92px;
  padding: 114px, 24px, 114px 24px;
}

